@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('/images/background.jpg');
background-size: cover;
height: 150%;
font-family: 'Numans', sans-serif;
}
.modal-header {
    background-color:rgb(152, 198, 251);
    color: #ffffff;
}
#Introduce{
    position: absolute;
    z-index: 999;
    margin-top: 10%;
    margin-left: 25%;
}
.navbar {
    margin-bottom: 0;
    background-color:rgb(152, 198, 251);
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}
  
.navbar li a, .navbar .navbar-brand {
    color: yellow !important;
}
  
.navbar-nav li a:hover, .navbar-nav li.active a {
    color:chocolate !important;
    background-color: #fff !important;
}
  
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
#tableSignUp{
    padding-top: 4%;
}
#tableSignIn{
    padding-top: 10%;
}
#typechi , #typethu{
    height: 300px;
    overflow: auto;
}
.list-type3{
    margin:0 auto;
    position: absolute;
    z-index: 999;
    margin-top: 22%;
    margin-left: 35%;
    width:500px;
    }
    .list-type3 li, .list-type3 a{
    float:left;
    height:35px;
    line-height:35px;
    position:relative;
    font-size:15px;
    margin-bottom: 12px;
    font-family: 'Raleway', sans-serif;
    transition: background-color 1.5s ease;
    }
    .list-type3 a{
    padding:0 60px 0 12px;
    background:#0089e0;
    color:#fff;
    text-decoration:none;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-top-right-radius:4px;
    }
    
    .list-type3 a:before{
    content:"";
    float:left;
    position:absolute;
    top:0;
    left:-12px;
    width:0;
    height:0;
    border-color:transparent #0089e0 transparent transparent;
    border-style:solid;
    border-width: 18px 12px 18px 0;
    }
    
    .list-type3 a:after{
    content:"";
    position:absolute;
    top:15px;
    left:0;
    float:left;
    width:6px;
    height:6px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background:#fff;
    -moz-box-shadow:-1px -1px 2px #004977;
    -webkit-box-shadow:-1px -1px 2px #004977;
    box-shadow:-1px -1px 2px #004977;
    }
    .list-type3 a:hover{
    background:#555;
    }
    
    .list-type3 a:hover:before{
    border-color:transparent #0089e0 transparent transparent;
    }

